name: PR Comment Split

on:
  issue_comment:
    types: [created]

jobs:
  split:
    name: Handle '#bot' commands
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0  # needed to have full git history

      - name: Add upstream remote, checkout target branch
        run: |
          git remote add fb-upstream https://github.com/facebook/chef-cookbooks.git
          git fetch fb-upstream

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip

      - name: Run sync bot in split mode
        env:
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          GITHUB_EVENT_PATH: ${{ github.event_path }}
          UPSTREAM_REMOTE: fb-upstream
          TARGET_REMOTE: origin
          BASE_BRANCH: main
          TARGET_BRANCH: main
          PR_BRANCH_PREFIX: sync
          GH_TOKEN: ${{ github.token }}
        run: |
          # normalize line-endings or cherry-picking fails
          git add --renormalize .
          git stash push -k -m "temp normalization"
          ./scripts/fbchef_sync_bot.py
