name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ruby-linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0
      - name: Install dependencies
        run: bundle install
      - name: Run cookstyle
        run: ./scripts/run_cookstyle
      - name: Run mdl
        run: ./scripts/run_mdl

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current repository
        uses: actions/checkout@v4

      - name: Run Shellcheck
        uses: ludeeus/action-shellcheck@2.0.0

  python-linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install black
        run: pip install -r requirements.txt
      - name: Run black
        run: black --check -l 80 .
